* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #00002b 0%, #050567 100%);
}

.container {
  max-width: 1280px;
}

.start-banner {
  display: flex;
  flex-direction: column;
  background-image: url("./imgs/start/lights.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.snows {
  margin-bottom: 80px;
  overflow: hidden;
  display: flex;
}

.snows img {
  margin-right: -10px;
}

.snows img:first-child {
  margin-left: -10px;
}

.snows img:nth-child(even) {
  opacity: 0.3;
  position: relative;
  z-index: 1;
}

.snows img:nth-child(odd) {
  position: relative;
  z-index: 2;
}

.snows--2 {
  margin-bottom: 0;
}

.start-banner__title {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Italic;
  font-size: 78px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}

.start-banner__owl {
  max-height: 432px;
}

.start-banner__star {
  position: absolute;
}

.start-banner__star--1 {
  top: 90px;
  left: 19px;
}

.start-banner__star--2 {
  top: 83px;
  right: 537px;
}
.start-banner__star--3 {
  top: 254px;
  left: 297px;
}
.start-banner__star--4 {
  top: 254px;
  right: 41px;
}
.start-banner__star--5 {
  top: 329px;
  right: 348px;
}
.start-banner__star--6 {
  top: 357px;
  left: 78px;
}
.start-banner__star--7 {
  bottom: 75px;
  left: 47px;
  width: 32px;
  height: 32px;
}
.start-banner__star--8 {
  bottom: 54px;
  left: 205px;
  width: 47px;
  height: 47px;
}
.start-banner__star--9 {
  bottom: 124px;
  right: 331px;
  width: 47px;
  height: 47px;
}
.start-banner__star--10 {
  bottom: 106px;
  right: 94px;
  width: 32px;
  height: 32px;
}

.start-banner__star,
.every__star,
.book__star {
  animation: twinkle var(--duration) infinite ease-in-out;
  animation-delay: var(--delay);
}

/* Создаем случайные параметры для каждой звезды */
.start-banner__star--1,
.every__star--1,
.book__star--1 {
  --duration: 2s;
  --delay: 0s;
}
.start-banner__star--2,
.every__star--2,
.book__star--2 {
  --duration: 3s;
  --delay: 0.5s;
}
.start-banner__star--3,
.every__star--3,
.book__star--3 {
  --duration: 2.5s;
  --delay: 1s;
}
.start-banner__star--4,
.every__star--4,
.book__star--4 {
  --duration: 3.2s;
  --delay: 1.5s;
}
.start-banner__star--5,
.every__star--5,
.book__star--5 {
  --duration: 2.8s;
  --delay: 0.8s;
}
.start-banner__star--6,
.every__star--6,
.book__star--6 {
  --duration: 3.5s;
  --delay: 1.2s;
}
.start-banner__star--7,
.every__star--7,
.book__star--7 {
  --duration: 2.3s;
  --delay: 0.3s;
}
.start-banner__star--8,
.every__star--8,
.book__star--8 {
  --duration: 3.1s;
  --delay: 1.7s;
}
.start-banner__star--9,
.every__star--9,
.book__star--9 {
  --duration: 2.7s;
  --delay: 0.9s;
}
.start-banner__star--10,
.every__star--10 {
  --duration: 3.3s;
  --delay: 1.4s;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    filter: brightness(0.7);
  }
  50% {
    opacity: 1;
    filter: brightness(1.5);
  }
}

.every__star {
  position: absolute;
  z-index: -1;
}

.every {
  position: relative;
  padding-bottom: 1500px;
}

.every__star--1 {
  left: 128px;
  top: 363px;
}

.every__star--2 {
  top: 389px;
  right: 70px;
}

.every h2 {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Italic;
  font-size: 78px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  max-width: 90%;
  margin: 0 auto;
  padding: 72px 0;
}

.every__path {
  position: absolute;
  right: 0px;
  bottom: 500px;
  width: 100%;
  height: auto;
}

.every__path {
  --beam-opacity: 0;
}

.every__path-beam {
  opacity: var(--beam-opacity, 0);
  fill-opacity: calc(0.4 * var(--beam-opacity, 0));
  filter: drop-shadow(
      0 0 calc(30px * var(--beam-opacity, 0)) rgba(255, 217, 0, 1)
    )
    brightness(1.3);
  transition: opacity 0.08s linear, filter 0.12s linear;
}

.every__path-star {
  filter: drop-shadow(
      0 0 calc(15px * var(--star-opacity, 0))
        rgba(255, 217, 0, calc(0.6 * var(--star-opacity, 0)))
    )
    drop-shadow(
      0 0 calc(25px * var(--star-opacity, 0))
        rgba(255, 217, 0, calc(0.4 * var(--star-opacity, 0)))
    );
  transition: filter 0.12s linear;
}

.every__star--3 {
  left: 137px;
  bottom: 761px;
  width: 46px;
  height: 46px;
}

.every__star--4 {
  left: 412px;
  bottom: 681px;
  width: 32px;
  height: 32px;
}
.every__star--5 {
  right: 310px;
  bottom: 630px;
  width: 46px;
  height: 46px;
}
.every__star--6 {
  left: 56px;
  bottom: 528px;
  width: 32px;
  height: 32px;
}
.every__star--7 {
  left: 276px;
  bottom: 496px;
  width: 32px;
  height: 32px;
}
.every__star--8 {
  right: 286px;
  bottom: 559px;
  width: 32px;
  height: 32px;
}
.every__star--9 {
  right: 8px;
  bottom: 460px;
  width: 32px;
  height: 32px;
}
.every__star--10 {
  right: 180px;
  bottom: 420px;
  width: 32px;
  height: 32px;
}

.every__star--11 {
  left: 336px;
  bottom: 345px;
  width: 32px;
  height: 32px;
}
.every__star--12 {
  right: 318px;
  bottom: 225px;
  width: 32px;
  height: 32px;
}
.every__star--13 {
  left: 88px;
  bottom: 109px;
  width: 32px;
  height: 32px;
}
.every__star--14 {
  right: 162px;
  bottom: 104px;
  width: 32px;
  height: 32px;
}

.every__door {
  position: absolute;
  left: 50%;
  bottom: 64px;
  transform: translateX(-50%) scale(var(--door-scale, 0.45));
  transform-origin: center bottom;
  width: 255px;
  height: 500px;
  z-index: 1;
  transition: transform 0.25s ease-out;
}

.new h2 {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Italic;
  font-size: 78px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  max-width: 1035px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.person p {
  font-size: 40px;
}

.person {
  position: relative;
}

.person img {
  max-width: 100%;
}

.person p {
  position: absolute;
  left: -8px;
  top: 35%;
  font-family: Inter;
  font-weight: 300;
  line-height: 100%;
  color: white;
  max-width: 565px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 36.47px;
}

.book {
  padding: 154px 0;
  position: relative;
}

.book__star {
  position: absolute;
  width: 32px;
  height: 32px;
}

.book__star--1 {
  top: 64px;
  left: 56px;
}
.book__star--2 {
  top: 96px;
  left: 276px;
}
.book__star--3 {
  top: 247px;
  left: 336px;
}
.book__star--4 {
  bottom: 113px;
  left: 88px;
}
.book__star--5 {
  top: 33px;
  right: 286px;
}
.book__star--6 {
  top: 132px;
  right: 1px;
}
.book__star--7 {
  top: 172px;
  right: 180px;
}
.book__star--8 {
  bottom: 229px;
  right: 318px;
}
.book__star--9 {
  bottom: 108px;
  right: 162px;
}

.book__star-book {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.book__star-book img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 78px;
  height: 72px;
  opacity: 0;
  transition: width 0.25s ease, height 0.25s ease, opacity 0.25s ease,
    filter 0.25s ease;
  transform-origin: center;
}

footer {
  padding-bottom: 165px;
}

footer h2 {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Italic;
  font-size: 78px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  max-width: 1035px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .every h2 {
    font-size: 40px;
    padding: 36px 0;
  }

  .start-banner__snows {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .start-banner__title {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Italic;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .start-banner__star--2 {
    right: 20px;
  }

  .start-banner__star--3 {
    left: 40px;
  }

  .start-banner__star--5 {
    right: 80px;
  }

  .start-banner__star--9 {
    display: none;
  }

  .start-banner__star--8 {
    display: none;
  }

  .person p {
    font-size: 1.5rem;
  }

  .every {
    position: relative;
    padding-bottom: 1100px;
  }

  .new h2 {
    max-width: 80%;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .person p {
    font-size: 18px;
  }

  .book__star--3 {
    left: 84px;
    bottom: 87px;
  }

  .book__star--7 {
    right: 45px;
    top: 43px;
  }

  .book__star--8 {
    right: 80px;
    bottom: 57px;
  }

  footer h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .start-banner__title {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Italic;
    font-size: 23.28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .snows {
    margin-bottom: 24px;
    padding-top: 12px;
  }

  .snows img {
    max-width: 16px;
    max-height: 25px;
    margin: 0;
  }

  .snows img {
    margin-right: -2px;
  }

  .snows img:first-child {
    margin-left: -2px;
  }

  .snows--2 {
    padding-top: 0;
    margin-bottom: 0;
  }

  .start-banner__star--1 {
    top: 35px;
    right: 124px;
    left: auto;
  }
  .start-banner__star--2 {
    top: 85px;
    left: 63px;
    right: auto;
  }
  .start-banner__star--3 {
    display: none;
  }
  .start-banner__star--4 {
    display: none;
  }
  .start-banner__star--5 {
    top: 167px;
    left: -1px;
    right: auto;
  }
  .start-banner__star--6 {
    right: 67px;
    top: 159px;
    left: auto;
  }
  .start-banner__star--7 {
    left: 35px;
    top: 193px;
    right: auto;
  }

  .start-banner__star {
    max-width: 14px;
    max-height: 14px;
  }

  .start-banner__owl {
    max-height: 128px;
  }
  .every {
    position: relative;
    padding-bottom: 500px;
  }

  .every__door {
    width: 64px;
    height: 125px;
  }

  .every h2 {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Italic;
    font-size: 19.5px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding-bottom: 0;
  }

  .every {
    position: relative;
    padding-bottom: 400px;
  }

  .every__door {
    bottom: 16px;
  }

  .every__path {
    bottom: auto;
  }

  .every__star--1 {
    width: 12px;
    height: 12px;
    left: 31px;
    top: 100px;
  }
  .every__star--2 {
    width: 12px;
    height: 12px;
    right: 25px;
    top: 110px;
  }
  .every__star--3 {
    width: 12px;
    height: 12px;
    left: 35px;
    top: 287px;
  }
  .every__star--4 {
    width: 12px;
    height: 12px;
    right: 77px;
    left: auto;
    top: 298px;
    bottom: auto;
  }
  .every__star--5 {
    width: 8px;
    height: 8px;
    left: 14px;
    right: auto;
    top: auto;
    bottom: 132px;
  }
  .every__star--6 {
    width: 8px;
    height: 8px;
    left: 69px;
    right: auto;
    top: auto;
    bottom: 124px;
  }
  .every__star--7 {
    width: 8px;
    height: 8px;
    left: 84px;
    right: auto;
    top: auto;
    bottom: 86px;
  }
  .every__star--8 {
    width: 8px;
    height: 8px;
    left: 22px;
    right: auto;
    top: auto;
    bottom: 27px;
  }
  .every__star--9 {
    width: 8px;
    height: 8px;
    left: auto;
    right: 72px;
    top: auto;
    bottom: 140px;
  }
  .every__star--10 {
    width: 8px;
    height: 8px;
    left: auto;
    right: 1px;
    top: auto;
    bottom: 115px;
  }
  .every__star--11 {
    width: 8px;
    height: 8px;
    left: auto;
    right: 45px;
    top: auto;
    bottom: 105px;
  }
  .every__star--12 {
    width: 8px;
    height: 8px;
    left: auto;
    right: 80px;
    top: auto;
    bottom: 56px;
  }
  .every__star--13 {
    width: 8px;
    height: 8px;
    left: auto;
    right: 41px;
    top: auto;
    bottom: 26px;
  }

  .every__star--14 {
    display: none;
  }
  .new h2 {
    max-width: 80%;
    font-size: 24px;
    padding-bottom: 12px;
  }

  .person p {
    font-size: 12px;
  }
  .book {
    padding: 38px 0;
  }

  .book__star {
    width: 8px;
    height: 8px;
  }

  .book__star--1 {
    left: 14px;
    top: 16px;
  }
  .book__star--2 {
    left: 69px;
    top: 24px;
  }
  .book__star--3 {
    left: 84px;
    top: 62px;
  }
  .book__star--4 {
    left: 22px;
    bottom: 28px;
  }
  .book__star--5 {
    right: 72px;
    top: 8px;
  }
  .book__star--6 {
    right: 1;
    top: 33px;
  }
  .book__star--7 {
    top: 43px;
    right: 45px;
  }
  .book__star--8 {
    bottom: 57px;
    right: 80px;
  }
  .book__star--9 {
    bottom: 27px;
    right: 41px;
  }
  .book {
    padding: 38px 0;
    position: relative;
    height: 92px;
  }

  footer {
    padding-bottom: 32px;
  }

  footer h2 {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Italic;
    font-size: 19.5px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 380px) {
  .person p {
    font-size: 9px;
  }
}
